<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/assignment8.css">
    <style>
        *{ background-color: darksalmon}
    </style>
    <title>assignment10</title>
</head>
<body>
    {% set page_name = 'Assignment10' %}
    {%include ('menu.html') %}

<!--    Creating Insertion Form:-->
    <h3> Insert A New User:</h3>
    <form action="/insert_user" method="post">
        <input type="text" name="name" placeholder="Name" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" name="submit" value="Insert">
    </form>

<!--    display a message when a user has been inserted:-->
    {% if inserted %}
    <p style="color: red"><b>The User Has Been Inserted Successfully To The List.</b></p>
    {% endif %}


<!--    Creating Update Form:-->
    <h3> Update Existing User Email:</h3>
    <form action="/update_user" method="post">
        <input type="text" name="id" placeholder="User ID" required>
        <input type="email" name="email" placeholder="New Email" required>
        <input type="submit" name="update" value="Update">
    </form>

<!--    display a message when a user has been updated:-->
    {% if updated %}
    <p style="color: red"><b>The User's Email has been updated successfully.</b></p>
    {% endif %}


<!--    Deletion From:-->
    <h3> Select The ID Of The User You Want To Delete:</h3>
    <form action="/delete_user" method="post">
        <input type="text" name="id" placeholder="User ID" required>
        <input type="submit" name="delete" value="Delete">
    </form>

<!--    display a message when a user has been deleted:-->
    {% if deleted %}
    <p style="color: red"><b>The user has been successfully deleted.</b></p>
    {% endif %}


<!--USERS LIST WITH DELETE, REMOVE DELETE AND FORM ACTION, make it a list without a form???-->
    <h3>Users List:</h3>
    <ul>
        {% for user in users %}
            <li>
                ID:{{user.id}} | Name: {{ user.name }} | Email: {{ user.email }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>