<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/CVgrid.css">
    <title>CV-Grid Homework</title>
</head>
<body>
    <div id="GridContainer"> 
        <div id="Name">Name: Ward Jubran</div>
        <div id="Photo"> <img src="/static/images/Profile%20Photo.jpg" alt="Profile Photo" width="80px" height="80px"> </div>
        <div id="Education"> <h4>Education: Information Systems Management Student, Third Year</h4><br><h5>Ben Gurioun University Of The Negev</h5></div>
        <div id="Skills"> Skills: Java, SQL, Python, C#, HTML, CSS <br><br>
                          <a href="/contactme"> <b> CLICK HERE TO CONTACT ME</b></a> <br><br>
                          <a href="/assignment8"> <b> CLICK HERE TO VISIT ASSIGNMENT 8 </b> </a>
        </div>
    </div>
</body>
</html>